<dd>
    <div class="group-tools">
        <div class="group-members" id="groupMemberTit">
群成员人数: <span id="groupMemberNum">613</span>/1000




</div>
        <div class="group-search">
            <div class="group-input">
                <input type="text" id="searchValue" data-def="搜索关键词" value="搜索关键词">
                <button id="searchBtn" data-tag="search" class="icon-search-btn"></button>
            </div>
            <div class="group-select-btn" data-tag="more">
                <a data-tag="more">
                    <span data-tag="more">更多筛选</span>
                    <i data-tag="more" class="icon-arrow-blue"></i>
                </a>
            </div>
        </div>
        <div id="moreAction">
            <div class="child group-select-more hide">	
                <div class="group-top">
                    <div></div>
                </div>			
                <ul data-key="credit" data-tag="信用" data-type="0">
                    <li>
                        <label>信　　用：</label>
                    </li>
                    <li class="query-filter selected">不限</li>
                    <li class="query-filter">不良记录成员</li>
                </ul>
                <ul data-key="g" data-tag="性别" data-type="1">
                    <li>
                        <label>性　　别：</label>
                    </li>
                    <li class="query-filter selected">不限</li>
                    <li class="query-filter">男</li>
                    <li class="query-filter">女</li>
                </ul>
                <ul data-key="qage" data-tag="Q龄" data-type="2">
                    <li>
                        <label>Q　　龄：</label>
                    </li>
                    <li class="query-filter selected">不限</li>
                    <li class="query-filter">1年内</li>
                    <li class="query-filter">1年-3年</li>
                    <li class="query-filter">3年-5年</li>
                    <li class="query-filter">5-7年</li>
                    <li class="query-filter">7年以上</li>
                    <li class="query-filter sl" data-val="年"><input type="text" maxlength="2"> - <input type="text" maxlength="2"> 年</li>
                </ul>
                <ul data-key="join_time" data-tag="入群时长" data-type="3">
                    <li>
                        <label>入群时长：</label>
                    </li>
                    <li class="query-filter selected">不限</li>
                    <li class="query-filter">1个月内</li>
                    <li class="query-filter">1-3个月</li>
                    <li class="query-filter">3-6个月</li>
                    <li class="query-filter">6-12个月</li>
                    <li class="query-filter">12个月以上</li>
                    <li class="query-filter sl" data-val="月"><input type="text" maxlength="3"> - <input type="text" maxlength="3"> 月</li>							
                </ul>
                <ul data-key="lv" id="groupLevel" class="hide" data-tag="群等级" data-type="5" style="display: none;">
<li>
<label>等　　级：</label>
</li>
<li class="query-filter selected" data-idx="0">不限</li>

</ul>
                <ul data-key="last_speak_time" data-tag="最后发言" data-type="6">
                    <li>
                        <label>最后发言：</label>
                    </li>
                    <li class="query-filter selected">不限</li>
                    <li class="query-filter">1个月内</li>
                    <li class="query-filter">1-3个月</li>
                    <li class="query-filter">3-6个月</li>
                    <li class="query-filter">6-12个月</li>
                    <li class="query-filter">12个月以上</li>
                    <li class="query-filter sl" data-val="月"><input type="text" maxlength="3"> - <input type="text" maxlength="3"> 月</li>							
                </ul>
                <ul id="join_method" data-key="join_method" data-tag="入群方式" data-type="7" style="display: none;">
                    <li>
                        <label>入群方式：</label>
                    </li>
                    <li></li>
                    <div class="query-filter sl" data-val="" id="joinSelect">
<select name="pets" id="petSelect">
<option value="不限">不限</option>
    
</select>
</div>
                </ul>	
                <ul id="join_invite" data-key="invite" data-tag="邀请人" data-type="4" style="display: none;">
                    <li>
                        <label>邀请人：</label>
                    </li>
                    <li class="query-filter selected">不限</li>
                    <li class="query-filter sl" data-val=""><input type="text" style="width: 100px" maxlength="30"></li>							
                </ul>																			
                <div class="group-select-more-btm" id="groupSelectMoreBtm">
                    <div>筛选条件:</div>
                    <div id="selectResultTips">
                    </div>
                    <div class="select-result">
                        <button class="clear disabled" disabled="disabled">清除</button>
                        <button class="submit" data-tag="moresub">确定</button>
                    </div>	
                    <div class="clear"></div>
                </div>
            </div>
            <div class="child group-select-result hide" id="groupSelectResult">

            </div>					
        </div>

    </div>

    <div class="group-memeber">
        <table cellspacing="0" cellpadding="0" border="0" width="100%" id="groupMember" align="center">
            <tbody><tr id="groupTh" class="">
<th width="32" class="td-right">

</th>
<th width="30"></th>
<th class="th-left1" width="200">成员</th>

<th class="th-left th-card" width="170">群昵称</th>


<th class="th-left" width="140">QQ号</th>
<th class="th-left" width="105">性别</th>
<th class="th-left th-desc" width="105">
<div class="group-ff">
    <div class="group-desc">
        <a class="link">Q龄</a> <i class="arrow"></i> <i class="icon-more-select"></i>
        <ul class="group-desc-arrow">
            <li cmd="desc" data-tag="age" data-idx="0" idx="0">默认</li>
            <li cmd="desc" data-tag="age" data-idx="0" idx="9" order="0"><a data-tag="age" data-idx="0">Q龄</a> <i class="icon-arrow-desc"></i></li>
            <li cmd="desc" data-tag="age" data-idx="1" idx="8" order="1"><a data-tag="age" data-idx="1">Q龄</a> <i class="icon-arrow-desc1"></i></li>
        </ul>									
    </div>
</div>
</th>
<th class="th-left th-desc" width="140">
<div class="group-ff">
    <div class="group-desc">
        <a class="link">入群时间</a> <i class="arrow"></i> <i class="icon-more-select"></i>
        <ul class="group-desc-arrow">
            <li cmd="desc" data-tag="jointime" data-idx="0" idx="0">默认</li>
            <li cmd="desc" data-tag="jointime" data-idx="0" idx="11" order="0"><a data-tag="jointime" data-idx="0">入群时间</a> <i class="icon-arrow-desc"></i></li>
            <li cmd="desc" data-tag="jointime" data-idx="1" idx="10" order="1"><a data-tag="jointime" data-idx="1">入群时间</a> <i class="icon-arrow-desc1"></i></li>
        </ul>
    </div>
</div>
</th>


<th class="th-left th-desc" width="110">
<div class="group-ff">
    <div class="group-desc">
        <a class="link">最后发言</a> <i class="arrow"></i> <i class="icon-more-select"></i>
        <ul class="group-desc-arrow">
            <li cmd="desc" data-tag="lastmsg" data-idx="0" idx="0">默认</li>
            <li cmd="desc" data-tag="lastmsg" data-idx="0" idx="17" order="0"><a data-tag="orderspeak" data-idx="0">最后发言</a> <i class="icon-arrow-desc"></i></li>
            <li cmd="desc" data-tag="lastmsg" data-idx="1" idx="16" order="1"><a data-tag="orderspeak" data-idx="1">最后发言</a> <i class="icon-arrow-desc1"></i></li>
        </ul>
    </div>
</div>
</th>
<th width="20"></th>
</tr>
        </tbody>


<tbody class="list">

<tr class="mb mb348944329">
<td class="td-right">
    
</td>
<td class="td-no">1</td>
<td class="td-user-nick">
    
        <a class="group-master-a"><i class="icon-group-master"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=348944329&amp;s=140" id="useIcon348944329">
                    
    <span>
        
            淡然。
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    计算机2004&nbsp;曲汉
                </span>
            
    </td>
    

<td>
                    
            348944329
        
</td>
<td>
    
    男
    
</td>
<td>10年</td>
<td>
    
    2020/09/04
    
</td>


<td>
    
        2023/06/17
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

<tr class="mb mb1061391200">
<td class="td-right">
    
</td>
<td class="td-no">2</td>
<td class="td-user-nick">
    
        <a class="group-manage-a"><i class="icon-group-manage manage1061391200"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=1061391200&amp;s=140" id="useIcon1061391200">
                    
    <span>
        
            一颗小小柠
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    宋宁宁
                </span>
            
    </td>
    

<td>
                    
            1061391200
        
</td>
<td>
    
    女
    
</td>
<td>14年</td>
<td>
    
    2020/09/02
    
</td>


<td>
    
        2023/06/27
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

<tr class="mb mb1185146744">
<td class="td-right">
    
</td>
<td class="td-no">3</td>
<td class="td-user-nick">
    
        <a class="group-manage-a"><i class="icon-group-manage manage1185146744"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=1185146744&amp;s=140" id="useIcon1185146744">
                    
    <span>
        
            浑水摸鱼小能手
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    通信2001李滢
                </span>
            
    </td>
    

<td>
                    
            1185146744
        
</td>
<td>
    
    男
    
</td>
<td>12年</td>
<td>
    
    2020/09/04
    
</td>


<td>
    
        2023/06/20
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

<tr class="mb mb29289707 tr-hover">
<td class="td-right">
    
</td>
<td class="td-no">4</td>
<td class="td-user-nick">
    
        <a class="group-manage-a"><i class="icon-group-manage manage29289707"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=29289707&amp;s=140" id="useIcon29289707">
                    
    <span>
        
            LILY
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    
                </span>
            
    </td>
    

<td>
                    
            29289707
        
</td>
<td>
    
    女
    
</td>
<td>22年</td>
<td>
    
    2021/04/13
    
</td>


<td>
    
        2022/11/21
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

<tr class="mb mb2683068203">
<td class="td-right">
    
</td>
<td class="td-no">5</td>
<td class="td-user-nick">
    
        <a class="group-manage-a"><i class="icon-group-manage manage2683068203"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=2683068203&amp;s=140" id="useIcon2683068203">
                    
    <span>
        
            ZNA
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    张宁
                </span>
            
    </td>
    

<td>
                    
            2683068203
        
</td>
<td>
    
    女
    
</td>
<td>11年</td>
<td>
    
    2021/11/05
    
</td>


<td>
    
        2023/03/20
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

<tr class="mb mb1092210581">
<td class="td-right">
    
</td>
<td class="td-no">6</td>
<td class="td-user-nick">
    
        <a class="group-manage-a"><i class="icon-group-manage manage1092210581"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=1092210581&amp;s=140" id="useIcon1092210581">
                    
    <span>
        
            之鸥
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    周俊达
                </span>
            
    </td>
    

<td>
                    
            1092210581
        
</td>
<td>
    
    男
    
</td>
<td>11年</td>
<td>
    
    2021/11/05
    
</td>


<td>
    
        2022/03/20
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

<tr class="mb mb1004580488">
<td class="td-right">
    
</td>
<td class="td-no">7</td>
<td class="td-user-nick">
    
        <a class="group-manage-a"><i class="icon-group-manage manage1004580488"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=1004580488&amp;s=140" id="useIcon1004580488">
                    
    <span>
        
            李炜浩
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    李炜浩
                </span>
            
    </td>
    

<td>
                    
            1004580488
        
</td>
<td>
    
    男
    
</td>
<td>15年</td>
<td>
    
    2022/06/19
    
</td>


<td>
    
        2023/06/21
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

<tr class="mb mb1290717923">
<td class="td-right">
    
</td>
<td class="td-no">8</td>
<td class="td-user-nick">
    
        <a><i class="manage1290717923" data-id="1290717923"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=1290717923&amp;s=140" id="useIcon1290717923">
                    
    <span>
        
            蒙面歹徒狗
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    计算机&nbsp;&nbsp;&nbsp;徐&nbsp;畅
                </span>
            
    </td>
    

<td>
                    
            1290717923
        
</td>
<td>
    
    未知
    
</td>
<td>10年</td>
<td>
    
    2020/09/03
    
</td>


<td>
    
        2020/09/03
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

<tr class="mb mb532395010">
<td class="td-right">
    
</td>
<td class="td-no">9</td>
<td class="td-user-nick">
    
        <a><i class="manage532395010" data-id="532395010"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=532395010&amp;s=140" id="useIcon532395010">
                    
    <span>
        
            兰因絮果
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    计算机类1&nbsp;&nbsp;&nbsp;马
                </span>
            
    </td>
    

<td>
                    
            532395010
        
</td>
<td>
    
    男
    
</td>
<td>14年</td>
<td>
    
    2020/09/04
    
</td>


<td>
    
        2020/09/04
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

<tr class="mb mb2501737298">
<td class="td-right">
    
</td>
<td class="td-no">10</td>
<td class="td-user-nick">
    
        <a><i class="manage2501737298" data-id="2501737298"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=2501737298&amp;s=140" id="useIcon2501737298">
                    
    <span>
        
            苍策
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    人工智能2004&nbsp;吴
                </span>
            
    </td>
    

<td>
                    
            2501737298
        
</td>
<td>
    
    未知
    
</td>
<td>11年</td>
<td>
    
    2020/09/04
    
</td>


<td>
    
        2020/09/04
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

<tr class="mb mb2793137544">
<td class="td-right">
    
</td>
<td class="td-no">11</td>
<td class="td-user-nick">
    
        <a><i class="manage2793137544" data-id="2793137544"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=2793137544&amp;s=140" id="useIcon2793137544">
                    
    <span>
        
            永远滴神
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    计2004&nbsp;&nbsp;苟振钰&nbsp;15
                </span>
            
    </td>
    

<td>
                    
            2793137544
        
</td>
<td>
    
    男
    
</td>
<td>9年</td>
<td>
    
    2020/09/04
    
</td>


<td>
    
        2020/09/04
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

<tr class="mb mb3081086579">
<td class="td-right">
    
</td>
<td class="td-no">12</td>
<td class="td-user-nick">
    
        <a><i class="manage3081086579" data-id="3081086579"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=3081086579&amp;s=140" id="useIcon3081086579">
                    
    <span>
        
            葳蕤
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    20-软件-李嘉伟
                </span>
            
    </td>
    

<td>
                    
            3081086579
        
</td>
<td>
    
    男
    
</td>
<td>6年</td>
<td>
    
    2020/09/04
    
</td>


<td>
    
        2020/09/04
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

<tr class="mb mb2485647774">
<td class="td-right">
    
</td>
<td class="td-no">13</td>
<td class="td-user-nick">
    
        <a><i class="manage2485647774" data-id="2485647774"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=2485647774&amp;s=140" id="useIcon2485647774">
                    
    <span>
        
            叶子
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    计算机类四班-
                </span>
            
    </td>
    

<td>
                    
            2485647774
        
</td>
<td>
    
    男
    
</td>
<td>8年</td>
<td>
    
    2020/09/04
    
</td>


<td>
    
        2020/09/04
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

<tr class="mb mb2473386273">
<td class="td-right">
    
</td>
<td class="td-no">14</td>
<td class="td-user-nick">
    
        <a><i class="manage2473386273" data-id="2473386273"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=2473386273&amp;s=140" id="useIcon2473386273">
                    
    <span>
        
            Hfour9
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    计算机2005黄祥
                </span>
            
    </td>
    

<td>
                    
            2473386273
        
</td>
<td>
    
    男
    
</td>
<td>11年</td>
<td>
    
    2020/09/04
    
</td>


<td>
    
        2020/09/04
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

<tr class="mb mb1556218852">
<td class="td-right">
    
</td>
<td class="td-no">15</td>
<td class="td-user-nick">
    
        <a><i class="manage1556218852" data-id="1556218852"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=1556218852&amp;s=140" id="useIcon1556218852">
                    
    <span>
        
            sunflower.
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    计算机类1&nbsp;2007张
                </span>
            
    </td>
    

<td>
                    
            1556218852
        
</td>
<td>
    
    女
    
</td>
<td>13年</td>
<td>
    
    2020/09/04
    
</td>


<td>
    
        2020/09/04
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

<tr class="mb mb2205453895">
<td class="td-right">
    
</td>
<td class="td-no">16</td>
<td class="td-user-nick">
    
        <a><i class="manage2205453895" data-id="2205453895"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=2205453895&amp;s=140" id="useIcon2205453895">
                    
    <span>
        
            登楼
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    电子信息&nbsp;2002&nbsp;孙
                </span>
            
    </td>
    

<td>
                    
            2205453895
        
</td>
<td>
    
    未知
    
</td>
<td>11年</td>
<td>
    
    2020/09/04
    
</td>


<td>
    
        2020/09/04
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

<tr class="mb mb2738631119">
<td class="td-right">
    
</td>
<td class="td-no">17</td>
<td class="td-user-nick">
    
        <a><i class="manage2738631119" data-id="2738631119"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=2738631119&amp;s=140" id="useIcon2738631119">
                    
    <span>
        
            七白
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    计算机2007陈赛
                </span>
            
    </td>
    

<td>
                    
            2738631119
        
</td>
<td>
    
    未知
    
</td>
<td>9年</td>
<td>
    
    2020/09/04
    
</td>


<td>
    
        2020/09/04
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

<tr class="mb mb1315969953">
<td class="td-right">
    
</td>
<td class="td-no">18</td>
<td class="td-user-nick">
    
        <a><i class="manage1315969953" data-id="1315969953"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=1315969953&amp;s=140" id="useIcon1315969953">
                    
    <span>
        
            尤里
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    计算机2006&nbsp;谭雅
                </span>
            
    </td>
    

<td>
                    
            1315969953
        
</td>
<td>
    
    女
    
</td>
<td>13年</td>
<td>
    
    2020/09/04
    
</td>


<td>
    
        2020/09/04
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

<tr class="mb mb2122458229">
<td class="td-right">
    
</td>
<td class="td-no">19</td>
<td class="td-user-nick">
    
        <a><i class="manage2122458229" data-id="2122458229"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=2122458229&amp;s=140" id="useIcon2122458229">
                    
    <span>
        
            刘·瑞文
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    计科·刘·聪
                </span>
            
    </td>
    

<td>
                    
            2122458229
        
</td>
<td>
    
    男
    
</td>
<td>5年</td>
<td>
    
    2020/09/04
    
</td>


<td>
    
        2020/09/04
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

<tr class="mb mb3149829972">
<td class="td-right">
    
</td>
<td class="td-no">20</td>
<td class="td-user-nick">
    
        <a><i class="manage3149829972" data-id="3149829972"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=3149829972&amp;s=140" id="useIcon3149829972">
                    
    <span>
        
            Coca-Cola
        
    </span>
</td>

    <td class="td-card">
            
            <span>
                <span class="group-card group-card3149829972">
                                
                        计算机2006&nbsp;陈航
                    
                </span>
                <input class="member-card" id="member-card3149829972" value="计算机2006&nbsp;陈航" type="text" data-old="计算机2006&nbsp;陈航" data-id="3149829972">
            </span>
            
    </td>
    

<td>
                    
            3149829972
        
</td>
<td>
    
    男
    
</td>
<td>8年</td>
<td>
    
    2020/09/04
    
</td>


<td>
    
        2020/09/04
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

<tr class="mb mb809945957">
<td class="td-right">
    
</td>
<td class="td-no">21</td>
<td class="td-user-nick">
    
        <a><i class="manage809945957" data-id="809945957"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=809945957&amp;s=140" id="useIcon809945957">
                    
    <span>
        
            无非
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    计算机2002&nbsp;赵天
                </span>
            
    </td>
    

<td>
                    
            809945957
        
</td>
<td>
    
    男
    
</td>
<td>14年</td>
<td>
    
    2020/09/04
    
</td>


<td>
    
        2020/09/04
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

</tbody>

<tbody class="list">

<tr class="mb mb1983904741">
<td class="td-right">
    
</td>
<td class="td-no">22</td>
<td class="td-user-nick">
    
        <a><i class="manage1983904741" data-id="1983904741"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=1983904741&amp;s=140" id="useIcon1983904741">
                    
    <span>
        
            流年@相濡以沫
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    电子信息&nbsp;2004&nbsp;张
                </span>
            
    </td>
    

<td>
                    
            1983904741
        
</td>
<td>
    
    男
    
</td>
<td>11年</td>
<td>
    
    2020/09/04
    
</td>


<td>
    
        2020/09/04
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

<tr class="mb mb775700684">
<td class="td-right">
    
</td>
<td class="td-no">23</td>
<td class="td-user-nick">
    
        <a><i class="manage775700684" data-id="775700684"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=775700684&amp;s=140" id="useIcon775700684">
                    
    <span>
        
            暗
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    人工智能&nbsp;孟炜
                </span>
            
    </td>
    

<td>
                    
            775700684
        
</td>
<td>
    
    男
    
</td>
<td>14年</td>
<td>
    
    2020/09/04
    
</td>


<td>
    
        2020/09/04
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

<tr class="mb mb1554845047">
<td class="td-right">
    
</td>
<td class="td-no">24</td>
<td class="td-user-nick">
    
        <a><i class="manage1554845047" data-id="1554845047"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=1554845047&amp;s=140" id="useIcon1554845047">
                    
    <span>
        
            Ethereal.
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    电子2002杨璐瑶18
                </span>
            
    </td>
    

<td>
                    
            1554845047
        
</td>
<td>
    
    未知
    
</td>
<td>13年</td>
<td>
    
    2020/09/04
    
</td>


<td>
    
        2020/09/04
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

<tr class="mb mb596130707">
<td class="td-right">
    
</td>
<td class="td-no">25</td>
<td class="td-user-nick">
    
        <a><i class="manage596130707" data-id="596130707"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=596130707&amp;s=140" id="useIcon596130707">
                    
    <span>
        
            馒头
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    计算机I&nbsp;姜文渊
                </span>
            
    </td>
    

<td>
                    
            596130707
        
</td>
<td>
    
    男
    
</td>
<td>15年</td>
<td>
    
    2020/09/04
    
</td>


<td>
    
        2020/09/04
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

<tr class="mb mb2071035929">
<td class="td-right">
    
</td>
<td class="td-no">26</td>
<td class="td-user-nick">
    
        <a><i class="manage2071035929" data-id="2071035929"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=2071035929&amp;s=140" id="useIcon2071035929">
                    
    <span>
        
            奥林匹斯山的雪
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    计算机类｜20&nbsp;袁
                </span>
            
    </td>
    

<td>
                    
            2071035929
        
</td>
<td>
    
    男
    
</td>
<td>9年</td>
<td>
    
    2020/09/04
    
</td>


<td>
    
        2020/09/04
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

<tr class="mb mb1799644351">
<td class="td-right">
    
</td>
<td class="td-no">27</td>
<td class="td-user-nick">
    
        <a><i class="manage1799644351" data-id="1799644351"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=1799644351&amp;s=140" id="useIcon1799644351">
                    
    <span>
        
            南九顾🌸❄️
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    计算机类｜顾竣
                </span>
            
    </td>
    

<td>
                    
            1799644351
        
</td>
<td>
    
    男
    
</td>
<td>11年</td>
<td>
    
    2020/09/04
    
</td>


<td>
    
        2020/09/04
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

<tr class="mb mb2438287426">
<td class="td-right">
    
</td>
<td class="td-no">28</td>
<td class="td-user-nick">
    
        <a><i class="manage2438287426" data-id="2438287426"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=2438287426&amp;s=140" id="useIcon2438287426">
                    
    <span>
        
            这是个昵称
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    计算机1类2001班&nbsp;
                </span>
            
    </td>
    

<td>
                    
            2438287426
        
</td>
<td>
    
    男
    
</td>
<td>11年</td>
<td>
    
    2020/09/04
    
</td>


<td>
    
        2020/09/04
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

<tr class="mb mb826399787">
<td class="td-right">
    
</td>
<td class="td-no">29</td>
<td class="td-user-nick">
    
        <a><i class="manage826399787" data-id="826399787"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=826399787&amp;s=140" id="useIcon826399787">
                    
    <span>
        
            Leon&nbsp;Goretzka
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    计算机类1&nbsp;2003班
                </span>
            
    </td>
    

<td>
                    
            826399787
        
</td>
<td>
    
    男
    
</td>
<td>15年</td>
<td>
    
    2020/09/04
    
</td>


<td>
    
        2020/09/04
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

<tr class="mb mb2670903583">
<td class="td-right">
    
</td>
<td class="td-no">30</td>
<td class="td-user-nick">
    
        <a><i class="manage2670903583" data-id="2670903583"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=2670903583&amp;s=140" id="useIcon2670903583">
                    
    <span>
        
            无名客
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    人工智能李海明
                </span>
            
    </td>
    

<td>
                    
            2670903583
        
</td>
<td>
    
    男
    
</td>
<td>11年</td>
<td>
    
    2020/09/04
    
</td>


<td>
    
        2020/09/04
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

<tr class="mb mb2524436329">
<td class="td-right">
    
</td>
<td class="td-no">31</td>
<td class="td-user-nick">
    
        <a><i class="manage2524436329" data-id="2524436329"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=2524436329&amp;s=140" id="useIcon2524436329">
                    
    <span>
        
            Victor
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    人智&nbsp;2004&nbsp;刘愉鑫
                </span>
            
    </td>
    

<td>
                    
            2524436329
        
</td>
<td>
    
    男
    
</td>
<td>11年</td>
<td>
    
    2020/09/04
    
</td>


<td>
    
        2020/09/04
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

<tr class="mb mb1025194693">
<td class="td-right">
    
</td>
<td class="td-no">32</td>
<td class="td-user-nick">
    
        <a><i class="manage1025194693" data-id="1025194693"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=1025194693&amp;s=140" id="useIcon1025194693">
                    
    <span>
        
            🫧
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    计算机06-李金晔
                </span>
            
    </td>
    

<td>
                    
            1025194693
        
</td>
<td>
    
    未知
    
</td>
<td>14年</td>
<td>
    
    2020/09/04
    
</td>


<td>
    
        2020/09/04
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

<tr class="mb mb1332607178">
<td class="td-right">
    
</td>
<td class="td-no">33</td>
<td class="td-user-nick">
    
        <a><i class="manage1332607178" data-id="1332607178"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=1332607178&amp;s=140" id="useIcon1332607178">
                    
    <span>
        
            𝓛𝓾𝓬𝓲𝓯𝓮𝓻
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    计2004闫志杰
                </span>
            
    </td>
    

<td>
                    
            1332607178
        
</td>
<td>
    
    男
    
</td>
<td>13年</td>
<td>
    
    2020/09/04
    
</td>


<td>
    
        2020/09/04
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

<tr class="mb mb1296969179">
<td class="td-right">
    
</td>
<td class="td-no">34</td>
<td class="td-user-nick">
    
        <a><i class="manage1296969179" data-id="1296969179"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=1296969179&amp;s=140" id="useIcon1296969179">
                    
    <span>
        
            chloroplast
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    吴思源
                </span>
            
    </td>
    

<td>
                    
            1296969179
        
</td>
<td>
    
    男
    
</td>
<td>13年</td>
<td>
    
    2020/09/04
    
</td>


<td>
    
        2020/09/04
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

<tr class="mb mb1484423921">
<td class="td-right">
    
</td>
<td class="td-no">35</td>
<td class="td-user-nick">
    
        <a><i class="manage1484423921" data-id="1484423921"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=1484423921&amp;s=140" id="useIcon1484423921">
                    
    <span>
        
            奈亞子
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    电信3班&nbsp;杨威昊&nbsp;
                </span>
            
    </td>
    

<td>
                    
            1484423921
        
</td>
<td>
    
    女
    
</td>
<td>10年</td>
<td>
    
    2020/09/04
    
</td>


<td>
    
        2020/09/04
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

<tr class="mb mb1370920904">
<td class="td-right">
    
</td>
<td class="td-no">36</td>
<td class="td-user-nick">
    
        <a><i class="manage1370920904" data-id="1370920904"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=1370920904&amp;s=140" id="useIcon1370920904">
                    
    <span>
        
            心思烟火
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    人工智能2001葛
                </span>
            
    </td>
    

<td>
                    
            1370920904
        
</td>
<td>
    
    未知
    
</td>
<td>10年</td>
<td>
    
    2020/09/04
    
</td>


<td>
    
        2020/09/04
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

<tr class="mb mb1658369699">
<td class="td-right">
    
</td>
<td class="td-no">37</td>
<td class="td-user-nick">
    
        <a><i class="manage1658369699" data-id="1658369699"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=1658369699&amp;s=140" id="useIcon1658369699">
                    
    <span>
        
            ababab
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    人工智能2003张
                </span>
            
    </td>
    

<td>
                    
            1658369699
        
</td>
<td>
    
    男
    
</td>
<td>10年</td>
<td>
    
    2020/09/04
    
</td>


<td>
    
        2020/09/04
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

<tr class="mb mb3254373067">
<td class="td-right">
    
</td>
<td class="td-no">38</td>
<td class="td-user-nick">
    
        <a><i class="manage3254373067" data-id="3254373067"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=3254373067&amp;s=140" id="useIcon3254373067">
                    
    <span>
        
            宁七
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    电子信息&nbsp;一班
                </span>
            
    </td>
    

<td>
                    
            3254373067
        
</td>
<td>
    
    女
    
</td>
<td>5年</td>
<td>
    
    2020/09/04
    
</td>


<td>
    
        2020/09/04
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

<tr class="mb mb2318648282">
<td class="td-right">
    
</td>
<td class="td-no">39</td>
<td class="td-user-nick">
    
        <a><i class="manage2318648282" data-id="2318648282"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=2318648282&amp;s=140" id="useIcon2318648282">
                    
    <span>
        
            blessing
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    计算机&nbsp;&nbsp;陈冲
                </span>
            
    </td>
    

<td>
                    
            2318648282
        
</td>
<td>
    
    男
    
</td>
<td>11年</td>
<td>
    
    2020/09/04
    
</td>


<td>
    
        2020/09/04
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

<tr class="mb mb1720771239">
<td class="td-right">
    
</td>
<td class="td-no">40</td>
<td class="td-user-nick">
    
        <a><i class="manage1720771239" data-id="1720771239"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=1720771239&amp;s=140" id="useIcon1720771239">
                    
    <span>
        
            苏摩
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    计算机2001班&nbsp;黄
                </span>
            
    </td>
    

<td>
                    
            1720771239
        
</td>
<td>
    
    未知
    
</td>
<td>12年</td>
<td>
    
    2020/09/04
    
</td>


<td>
    
        2020/09/04
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

<tr class="mb mb1137168005">
<td class="td-right">
    
</td>
<td class="td-no">41</td>
<td class="td-user-nick">
    
        <a><i class="manage1137168005" data-id="1137168005"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=1137168005&amp;s=140" id="useIcon1137168005">
                    
    <span>
        
            张雯
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    计算机2005&nbsp;张雯&nbsp;
                </span>
            
    </td>
    

<td>
                    
            1137168005
        
</td>
<td>
    
    未知
    
</td>
<td>13年</td>
<td>
    
    2020/09/04
    
</td>


<td>
    
        2020/09/04
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

<tr class="mb mb1206244778">
<td class="td-right">
    
</td>
<td class="td-no">42</td>
<td class="td-user-nick">
    
        <a><i class="manage1206244778" data-id="1206244778"></i></a>
    
    <img class="" src="//q4.qlogo.cn/g?b=qq&amp;nk=1206244778&amp;s=140" id="useIcon1206244778">
                    
    <span>
        
            Slak
        
    </span>
</td>

    <td class="td-card">
            
                <span class="white">
                    计科&nbsp;7班&nbsp;孙立凯
                </span>
            
    </td>
    

<td>
                    
            1206244778
        
</td>
<td>
    
    男
    
</td>
<td>12年</td>
<td>
    
    2020/09/04
    
</td>


<td>
    
        2020/09/04
    
</td>
<td class="td-delete">
                    
</td>
</tr>	

</tbody>
</table>
        <div id="searchEmpty" style="display: none;"></div>
    </div>

</dd>